<div class="card border-primary">
  <div class="card-body">
    <%= form_with model: [:admin, @badge], local: true do |form| %>
      <%= render 'shared/errors', resource: @badge %>

      <div class="form-group">
        <p>
          <%= form.label :name %>
          <%= form.text_field :name, id: :name, class: 'form-control' %>
        </p>

        <p>
          <%= form.label :image %>
          <%= form.file_field :image, id: :image, class: 'form-control' %>
        </p>

        <p>
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control' %>
        </p>

        <p>
          <%= form.label :rule %>
          <%= form.select :rule, badges_rules, selected: @badge.rule %>
        </p>

        <p>
          <%= form.label :rule_value %>
          <%= form.text_field :rule_value, id: :rule_value, class: 'form-control' %>
        </p>

        <p>
          <%= form.submit t(".#{action_name}_badge"), class: "btn btn-success" %>
          <%= link_to t('links.back'), admin_badges_path, class: 'btn btn-primary' %>
        </p>

        <h6>
          <b> * </b>
          <p> 1. <%= t('.level_rule') %></p>
          <p> 2. <%= t('.category_rule') %></p>
        </h6>

        <p>
          <%= form.label :categories_list %>
          <%= form.select :categories_list, show_all_categories_with_ids %>
        </p>
      </div>
    <% end %>
  </div>
</div>
