<nav class="navbar navbar-light bg-info">
  <span class="navbar-text">
    <%= link_to t('nav.project_title'), root_path, class: 'navbar-brand' %> |
    <%= link_to t('nav.admin_panel'), admin_tests_path, class: 'navbar-brand' %>
  </span>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('nav.greeting') %><b><%= greeting_in_header %></b>! |
      <b><%= link_to t('links.profile'), profile_path %></b> |
      <%= link_to t('links.log_out'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('links.log_in'), new_user_session_path %> |
      <%= link_to t('links.sign_up'), new_user_registration_path %>
    <% end %>
  </span>
</nav>
