<h1><%= t('.header') %><u><%= @test_passage.test.title %></u></h1>

<p>
  <b><%= t('.test_result') %></b>
  <span class="passage-result <%= green_red(@test_passage) %>" >
    <%= @test_passage.percent_result %> %
    <p><h2><b><u><%= result_message(@test_passage) %></u></b></h2></p>
  </span>
</p>

<p><%= link_to t('.tests_button'), tests_path %></p>
