<h1>You have been completed the Test: <u><%= @test_passage.test.title %></u></h1>

<p>
  <b>Your Test passage result is:</b>
  <span class="passage-result <%= success_failure(@test_passage) %>" >
    <%= @test_passage.percent_result %> %
    <p><b><u><%= result_message(@test_passage) %></u></b></p>
  </span>
</p>

<p><%= link_to 'Main page with Tests', tests_path %></p>
