<footer class="blockquote-footer" style=" width: 100%; text-align: center; position: absolute; left: 0; bottom: 0;">
  <div><%= t('.git_hub_repo') %><%= github_url('georgiybykov', 'test-guru') %> | <%= current_year %></div>
  <div>
    <%= t('.author') %> |
    <%= link_to t('.project_link'), 'https://thinknetica.com', target: '_blank' %>
  </div>
</footer>
