<div class="text-center mt-4">
  <footer class="blockquote-footer">
    <div>
      <%= t('.git_hub_repo') %><%= github_url('georgiybykov', 'test-guru') %> | <%= current_year %>
    </div>

    <div>
      <%= t('.author') %> |
      <%= link_to t('.project_link'), 'https://thinknetica.com', target: '_blank' %>
    </div>
  </footer>
</div>
