<div class="text-center mt-4 mb-2">
  <footer class="blockquote-footer">
    <div>
      <%= link_to t('links.feedback'), new_feedback_path %><br>
      <%= t('.git_hub_repo') %><%= github_url('georgiybykov', 'test-guru') %> | <%= project_lifetime %>
    </div>

    <div>
      <%= t('.author') %> |
      <%= link_to t('.project_link'), 'https://thinknetica.com', target: '_blank' %>
    </div>
  </footer>
</div>
