<div class="card border-primary mb-2">
  <div class="card-body">
    <%= form_with model: [:admin, @question, @answer], local: true do |form| %>
      <%= render 'shared/errors', resource: @answer %>

      <div class="form-group">
        <p>
          <b>
            <%= form.label :body %>
            <%= form.text_area :body, id: :answer_body, rows: 5, cols: 60, class: 'form-control' %>
          </b>
        </p>

        <p>
          <%= form.label :correct %>:
          <%= form.check_box :correct, id: :answer_correct %>
        </p>
      </div>

      <p>
        <%= form.submit t(".#{action_name}_answer"), class: "btn btn-success" %>

        <% if action_name.eql?('edit') %>
          <%= link_to t('links.delete'),
                      admin_question_path(@answer),
                      method: :delete,
                      data: { confirm: t('links.are_you_sure') },
                      class: "btn btn-danger" %>
        <% end %>

        <%= link_to t('links.back'), admin_question_path(@answer.question), class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
