<h1><%= t('.header') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<h2><%= t('.answer_label') %></h2>

<p>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct_label') %></b>
  <%= @answer.correct %>
</p>

<%= link_to t('.edit_answer_button'), edit_admin_answer_path %> |
<%= link_to t('links.back'), admin_question_path(@answer.question) %>
