<h1><%= t('.header', title: @question.test.title) %></h1>

<p>
  <strong><%= t('.question_label') %></strong>
  <%= @question.body %>
</p>

<%= link_to t('.new_answer_button'), new_admin_question_answer_path(@question) %>

<h2><%= t('.answers_label') %></h2>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to t('.edit_question_button'), edit_admin_question_path(@question) %> |
  <%= link_to t('.delete_question_button'),
              admin_test_path(@question),
              method: :delete,
              data: { confirm: t('.are_you_sure') } %> |
  <%= link_to t('.back_to_qstn_test_button'), admin_test_path(@question.test) %>
</p>
