<tbody>
  <tr>
    <td class="align-middle font-weight-bold">
      <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
      <%= render 'form_inline', test: test == @test ? @test : test %>
    </td>
    <td class="align-middle"><%= test.category.title %></td>
    <td class="align-middle"><%= t("activerecord.attributes.test.levels.#{test.level}") %></td>
    <td class="align-middle"><%= test.questions.count %></td>

    <td class="align-middle">
      <%= link_to t('links.show'),
                  admin_test_path(test),
                  class: 'btn btn-primary' %>
    </td>

    <td class="align-middle">
      <%= link_to t('links.edit'),
                  edit_admin_test_path(test),
                  data: { test_id: test.id },
                  class: 'btn btn-primary form-inline-link' %>
    </td>

    <td class="align-middle">
      <%= link_to t('links.delete'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: t('links.are_you_sure') },
                  class: 'btn btn-danger' %>
    </td>
  </tr>
</tbody>
