<div class="row justify-content-center mt-3">
  <div class="col col-md-12">
    <h1><%= t('.header') %></h1>

    <%= render 'shared/errors', resource: @test %>

    <p>
      <%= link_to t('.new_test_button'), new_admin_test_path, class: 'btn btn-success' %>
      <%= link_to t('.gists_list'), admin_gists_path, class: 'btn btn-info' %>
    </p>

    <table class="table" style="text-align: center">
      <thead class="thead-light">
        <tr>
          <th class="sort-by-title pointer" scope="col">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th scope="col"><%= t('.category') %></th>
          <th scope="col"><%= t('.level') %></th>
          <th scope="col"><%= t('.questions') %></th>
          <th scope="col" colspan="3"><%= t('.actions') %></th>
        </tr>
      </thead>

      <%= render @tests %>
    </table>
  </div>
</div>
