<tbody>
  <tr>
    <td class="font-weight-bold"><%= test.title %></td>
    <td><%= test.category.title %></td>
    <td><%= test_level(test) %></td>
    <td><%= test.questions.count %></td>

    <td><%= button_to t('.start_button'), start_test_path(test), class: 'btn btn-primary' %></td>
  </tr>
</tbody>
